@charset "utf-8";
/* CSS Document - styling2 */
body { 
	background-color: #fff; /*#e6e6e6;*/
	color: #000000; 
}

/* Links ---------------------- */
a { 
	color: #ff0000;
}

a:link, a:visited {
	color: #000000;
}

a:hover, a:active {
	background-color: #c41f95;
	color: #fff;
}

.mainHeader h1 {
	color: #000000;
}

.mainHeader p {
	color: #000000;
}

#braille {
	color: #000000;
}

.mainHeader nav {
	background-color: #000000;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #fff;
}

.mainHeader nav a:hover, .mainHeader nav a:active, 
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background-color: #c41f95;
	color: #fff;
}

.mainFooter {
	background: #000000; /* For browsers that do not support gradients */    
}

.mainFooter ul {
	color: #fff;
}

.mainFooter a {
	color: #fff;;
}

.mainFooter a:hover {
	color: #fff;
}
